@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900");

body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
/*Setting all the flex-box features*/
.d-flex {
  display: flex;
}
.f-wrap {
  flex-wrap: wrap;
}
.fd-column {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-align-center {
  justify-content: center;
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.a-center {
  align-self: center;
}
.a-start {
  align-self: flex-start;
}

/*Setting all the background colors*/
.blue-background {
  background-color: rgb(168, 212, 221);
}
.white-background {
  background-color: rgb(255, 255, 255);
}
.green-background {
  background-color: rgb(155, 213, 164);
}
.grey-background {
  background-color: rgb(240, 240, 240);
}
.pink-background {
  background-color: rgb(223, 182, 198);
}
.dark-background {
  background-color: rgb(60, 60, 60);
}

/*Setting the color for all the text  */
.color-black {
  color: rgb(49, 49, 49);
}
.color-dark {
  color: rgb(58, 73, 76);
}
.color-white {
  color: rgb(254, 254, 255);
}

.topmenu-item {
  font-weight: 800;
  text-decoration: none;
  padding: 8px;
  font-size: 11pt;
}
/*Setting the same size for all the buttons*/
.buttons {
  height: 60px;
  width: 120px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  padding: 2px 10px 2px 10px;
}
/*Setting some fonts */
.font-lato {
  font-family: "Lato", sans-serif;
}
.font-troman {
  font-family: "Times New Roman", Times, serif;
}

/*Setting the witdh for all the content*/
.header-container {
  width: 930px;
  padding-top: 10px;
}
.service-container {
  width: 930px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.rworks-container {
  width: 930px;
  padding-top: 35px;
  padding-bottom: 30px;
}
.templates-container {
  width: 930px;
}
.team-container {
  width: 950px;
  padding: 30px;
}
.rpost-container {
  width: 930px;
  padding: 30px;
}
.contact-container {
  width: 580px;
}

/*Setting Space details for all the medium containers*/
.img-text {
  font-weight: 900;
  font-size: 17pt;
  letter-spacing: 1px;
  width: 40%;
}
.logo {
  height: 25px;
  margin-right: 15px;
}
.imac-image {
  height: 250px;
}
.header-menu {
  width: 60%;
}
.header-container-menu {
  margin-bottom: 50px;
}
.header-wrapper {
  padding: 30px 30px 10px 30px;
}
.header-content {
  margin-bottom: 20px;
}
.fsection-content {
  font-size: 28pt;
  font-weight: 800;
}
.topmenu-item:visited {
  color: rgb(58, 73, 76);
}
.topmenu-item:hover {
  border-radius: 5px;
  background-color: rgb(58, 73, 76);
  color: rgb(168, 212, 221);
}

.service-1-2-3 {
  width: 100%;
  padding: 30px;
}
.service-images {
  height: 100px;
  margin-bottom: 20px;
}

.services-headings {
  font-weight: 800;
  margin-bottom: 20px;
  font-size: 11pt;
}

.services-description {
  font-weight: lighter;
  font-size: 10pt;
  color: rgb(107, 107, 107);
  line-height: 1.3;
}
.menu-images {
  padding: 20px;
}

.rwork-title {
  padding: 20px;
  width: 360px;
  margin-bottom: 40px;
}
.work-title-heading {
  font-weight: 800;
  font-size: 28pt;
  margin-bottom: 10px;
}
.work-title-description {
  color: rgb(192, 231, 200);
  width: 365px;
  line-height: 1.4;
}
.rwork-header-menu {
  height: 30px;
  margin-bottom: 30px;
}
.rwork-menu-item {
  font-weight: 600;
  text-decoration: none;
  padding: 5px;
  font-size: 11pt;
}

.rwork-menu-item:hover {
  border: 2px solid rgb(254, 254, 255);
  border-radius: 5px;
}

.rwork-images {
  margin-bottom: 30px;
}

.rworks-button {
  color: rgb(164, 164, 164);
}
.rworks-button:visited {
  color: rgb(167, 167, 167);
  background-color: rgb(254, 254, 255);
}
.template-image {
  height: 180px;
  margin-right: 30px;
}
.template-heading {
  margin-bottom: 22px;
  font-weight: 800;
  color: rgb(82, 82, 82);
}
.template-description {
  text-align: start;
  margin-bottom: 15px;
  color: rgb(82, 82, 82);
  font-weight: 500;
  font-size: 13pt;
  line-height: 1;
}
.templates-wrapper {
  padding: 20px;
}
.templates-top {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 40px;
}
.templates-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.division-line {
  margin-bottom: 30px;
}
.team-header {
  padding: 10px;
  width: 360px;
  margin-bottom: 20px;
}
.team-heading {
  font-weight: 800;
  font-size: 28pt;
}
.team-heading-description {
  color: rgb(236, 211, 222);
  width: 365px;
  line-height: 1.4;
}
.member-description {
  width: 25%;
  padding: 20px;
  color: rgb(82, 82, 82);
}
.member-wrapper {
  padding: 10px;
}
.member-name {
  font-weight: 700;
  font-size: 15pt;
  margin-bottom: 10px;
}
.member-rank {
  font-weight: 600;
  font-size: 11pt;
  margin-bottom: 10px;
}
.member-p {
  margin-bottom: 15px;
}
.member-icons {
  height: 30px;
  padding: 5px;
}
.t-round {
  border-radius: 50%;
}

.heading-description {
  color: rgb(205, 225, 234);
  font-weight: 400;
  line-height: 1.4;
}
.rpost-header {
  padding: 10px;
  width: 360px;
  margin-bottom: 20px;
}
.rpost-heading {
  font-size: 28pt;
}
.rpost-list {
  margin-bottom: 20px;
}
.rpost-description {
  padding: 24px;
}
.rpost-button {
  color: rgb(181, 210, 224);
}
.rpost-image {
  height: 130px;
  width: 265px;
}
.post-title {
  color: rgb(56, 56, 56);
  font-weight: 700;
  padding: 10px;
}
.post-date {
  font-style: oblique;
}
.post-description {
  padding: 10px;
}
.contact-header {
  padding: 10px;
  width: 360px;
  margin-bottom: 20px;
}
.contact-heading-description {
  color: rgb(164, 164, 164);
  font-weight: lighter;
  line-height: 1.4;
  font-size: 10pt;
}
.contact-form {
  padding: 20px;
  margin-bottom: 10px;
}
input[type="text"],
input[type="email"] {
  height: 55px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 14pt;
  font-weight: 600;
  color: rgb(164, 164, 164);
  padding: 5px;
}
textarea {
  resize: none;
  border-radius: 10px;
  height: 145px;
  width: 100%;
  font-size: 14pt;
  font-weight: 600;
  margin-bottom: 30px;
  color: rgb(164, 164, 164);
  padding: 5px;
}
.division-line-2 {
  border-style: solid;
  border-color: rgb(32, 32, 32);
  margin: 0;
  margin-bottom: 20px;
}
.contact-footer {
  padding: 10px;
}
/*rgb(82, 82, 82);*/
.bottom-icons {
  border-radius: 50%;
  height: 30px;
  width: 35px;
  background-color: rgb(82, 82, 82);
}
.footer-info {
  color: rgb(164, 164, 164);
}

.footer-site {
  text-decoration: none;
  color: rgb(226, 191, 114);
}
